<div class="productDetails">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-3 gap-[15px] pt-10 justify-center ">
            <div>
                <p class="text-gray-400 text-sm">Product Number</p>
                <p>{{productDetails.productId}}</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Product Name</p>
                <p>{{productDetails.productName}}</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Product Description</p>
                <p>{{productDetails.productDescription}}</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Product Price</p>
                <p>{{productDetails.price}}</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Category Name</p>
                <p>{{productDetails.categoryName}}</p>
            </div> 
        </div>  
    </div>
</div>